<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Catalogo Musical</title>
    <th:block th:include="fragments/geral.html :: headerfiles">
    </th:block>
</head>
<body>
<section>
    <div class="container" style="width: 60%; padding-bottom: 30px;">
        <div class="card" style="margin-top: 20px;">
            <div class="card-body">
                <h2>Acesso negado ao url</h2>
            </div>
        </div>
    </div>
</section>
<th:block th:include="fragments/geral :: footer"></th:block>
</body>
</html>